@import "../../theme.scss";
.profile-image {
  margin-right: 5%;
}
.profile-container {
  padding: 180px 0px;

  .message-info {
    * {
      padding-left: 0px;
      margin-bottom: 8px;
    }
    .message-bubble {
      background-color: $pastel3;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      font-weight: bold;
      padding: 10px 30px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 0px;
      width: fit-content;
    }

    h2 {
      font-weight: 600;
      font-size: 60px;
    }
    h4 {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }
  .list-style {
    a {
      height: 20px;
      display: flex;
      .icon {
        width: 0.4em;
      }
      color: $pastel1;
      &:hover {
        text-decoration: none;
        .icon {
          color: $pastel3;
        }
      }
    }
    list-style-type: none;
    width: fit-content;
  }

  ul.social-links {
    margin-top: 28px;
    display: flex;
    place-content: space-between;
    width: 180px;
    .list-style {
      .icon {
        width: 1em;
        padding: 4px;
        border-radius: 10%;
        &:hover {
          background-color: $pastel1;
          transition: 0.3s;
        }
      }
    }
  }

  .img-border {
    height: 340px;
    width: 340px;
    border: 20px solid rgba(0, 0, 0, 0.07);
    margin: 0 auto;
    border-radius: 50%;
    .hero-img {
      height: 300px;
      width: 300px;
      margin: 0 auto;
      float: none;
      text-align: center;
      border: 20px solid rgba(0, 0, 0, 0.17);
      border-radius: 50%;
    }
  }

  &.is-mobile {
    padding: 60px 0px;
    .order-md-1.order-2 {
      margin-top: 24px;
      text-align: -moz-center;
      text-align: -webkit-center;
    }
    .message-info {
      h2 {
        font-weight: 600;
        font-size: 42px;
      }
      h4 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
      }
      .list-style {
        a {
          font-size: 0.85em;
        }
      }
      li {
        font-size: 16px;
        // line-height: 16px;
      }
      ul.contact-links {
        .icon {
          width: 0.4em;
        }
      }
    }
    .img-border {
      height: 280px;
      width: 280px;
      .hero-img {
        height: 240px;
        width: 240px;
      }
    }
  }
}
