@import "./theme.scss";
html,
body {
  height: 100%;
}

div#app {
  .bg-dark {
    background-color: $pastel1 !important;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    nav {
      padding: 2em 2em 2em 22%;
    }
    .navbar-dark .navbar-toggler {
      border: none !important;
      outline: none !important;
      svg {
        fill: $pastel5;
      }
    }
    .social-links {
      padding: 2em 22% 2em 2em;
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          a {
            color: $pastel1;
            font-size: 26px;
          }
        }
      }
    }
  }
  .home-container {
    display: grid;
    grid-template-columns: 66% auto;

    .social-links {
      display: none;
    }
    .btn {
      border-radius: 20px;
    }
    .info {
      background-color: $pastel2;
      height: 88vh;
      padding: 9em 20em 6em 22%;
    }
    .hero-container {
      .hero-img {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
      }
    }
  }

  &.sm {
    .nav-container {
      display: grid;
      grid-template-columns: 100%;
      nav {
        padding: 1.5em !important;
      }
      .social-links {
        display: none;
      }
    }

    .home-container {
      display: grid;
      grid-template-columns: 100%;

      .social-links {
        display: inline;
        position: absolute;
        bottom: 2em;
        right: 2em;
        ul {
          height: 200px;
          padding: 0;
          margin: 0;
          list-style-type: none;
          li {
            a {
              color: $pastel5;
              font-size: 24px;
            }
          }
        }
      }
      .info {
        padding: 20% 1.5em;
      }
      .hero-container {
        display: none !important;
      }
    }
  }
}

.btn-secondary {
  color: $pastel2;
  border-color: $pastel3;
  background-color: $pastel3;
  &:hover,
  &:focus {
    color: $pastel1;
    border-color: $pastel3;
    background-color: $pastel3;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $pastel1;
  }
}
