// $pastel1: #142d4c;
// $pastel2: #385170;
// $pastel3: #9fd3c7;
// $pastel4: #ececec;

// $pastel1: #34626c;
// $pastel2: #839b97;
// $pastel3: #cfd3ce;
// $pastel4: #c6b497;

$pastel1: #222831;
$pastel2: #393e46;
$pastel3: #d65a31;
$pastel4: #ede68a;
