@import "../../theme.scss";

.about-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;

  .btn {
    border-radius: 20px;
  }
  .img-border {
    height: 340px;
    width: 340px;
  }
  ul.pill {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li {
      border: 1px solid $pastel3;
      padding: 4px 10px;
      border-radius: 4px;
      list-style: none;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }

  &.is-mobile {
    grid-template-columns: 100%;
    grid-template-rows: 75%;
    .img-border {
      width: 100%;
    }
    ul.pill {
      place-content: center;
    }
  }
}
